/* General styling */
body {
    background: linear-gradient(to top left, #bd0a28d7, #5598a0, #bd0a28d7, #5598a0, #bd0a28d7, #5598a0);
    font-family: 'Jacques Francois Shadow', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* Header styling */
header {
    text-align: center;
    font-weight: bold;
    color: #ffffff;
}

/* Navigation bar styling */
nav {
    background-color: #045d86;
    padding: 15px 0;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
    margin: 0 20px;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

nav a:hover {
    background-color: #67afcb;
}

/* Main content styling */
main {
    color: white;
    font-family: cursive;
}
#about h2{
	clear: both;
	padding: 1%;
	text-align: center;
}

/* Styling for hobbies section */
#hobbies {
    width: 45%;
    float: right;
    padding: 2.5%;
}

/* Styling for skiing and golfing images with rounded corners */
#skiing img,
#golf img {
    width: 25%;
    height: auto;
    border-radius: 15px; /* Adds rounded corners only to skiing and golfing images */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /*shadow for depth */
}

/* Footer styling */
footer {
    clear: both;
    font-size: 1em;
    text-align: center;
    color: #fff;
    padding: 8%;
}

footer p a {
    color: #fff;
    text-decoration: none;
}
/* Green Text */
.green {
    color: #83eb34;
    font-weight: bold;
    font-size: large;
}
/* blue */
.blue {
    color: #d16d10;
    font-weight: bold;
    font-size: large;
}/* orange */
.orange {
    color: #d8e708;
    font-weight: bold;
    font-size: large;
}
/* yello */
.yellow {
    color: #1684df;
    font-weight: bold;
    font-size: large;
}
